@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.navigation_bar {
	display: block;
	width: 90%;
	height: 80px;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 45%;
	float: right;
}

li {
	color: #41436A;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	margin: 4px;
	padding: 8px;
	cursor: pointer;
}

li:hover {
	transition-property: background-color;
	transition-duration: 0.4s;
	background-color: #F64668;
	color: #FFFFFF;
}

li[class='active'] {
	border-bottom: 3px solid #F64668;
}

a {
	text-decoration: none;
}

.heading h1 {
	font-family: Montserrat, sans-serif;
	font-size: 58px;
	color: #FE9677;
	margin: 60px;
}

div[class='main'] {
	display: block;
	width: 50%;
	margin: 0px auto;
}

form {
	width: 70%;
	border: 1px solid #D9D9D9;
	border-radius: 8px;
	margin: 0px auto;
}

label {
	display: block;
	font-size: 18px;
	color: #41436A;
	text-align: left;
	margin-left: 60px;
	margin-top: 8px;
}

label:not(label[class='smaller_font']) {
	margin-bottom: 8px;
	margin-top: 12px;
}

.smaller_font {
	font-size: 0.75em;
}

input:not(input[type='submit'], input[type='number']) {
	display: inline;
	background: none;
	border: none;
	outline: none;
	width: 30%;
	margin-left: 60px;
	border-bottom: 1px solid #A9A9A9;
}

input[type='submit'] {
	display: block;
	border: 1px solid #F64668;
	outline: none;
	border-radius: 24px;
	padding: 8px 32px;
	margin: 30px auto;
	font-size: 16px;
	background-color: #F64668;
	color: white;
	cursor: pointer;
}

input[type='submit']:hover {
	background-color: #FFFFFF;
	color: #F64668;
	border: 1px solid #F64668;
	transition-duration: 0.4s;
}

input[type='number'] {
	display: inline;
	background: none;
	border: 1px solid #A9A9A9;
	outline: none;
	margin-left: 20px;
	width: 80px;
}

#name {
	display: inline-block; 
	margin-bottom: 16px;
}

.smaller_font {
	display: inline-block;
	width: 40px;
}

form p {
	color: #444444;
	text-align: center;
}

form p span {
	color: #FE9677;
	font-weight: bold;
}

p a {
	color: #41436A;
	text-decoration: underline;
}
