@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
}

.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 100%;
}

.left {
	flex: 60%;
	height: 100%;
	background-color: #F64668;
}

.left > h1 {
	font-family: Montserrat, sans-serif;
	font-size: 58px;
	color: #FFFFFF;
	margin: 160px 0px 20px 140px;
}

.left p {
	width: 46%;
	font-size: 20px;
	color: white;
	margin: 60px 140px;
}

.right {
	flex: 40%;
	height: 100%;
}

.right h1 {
	font-family: Montserrat, sans-serif;
	font-size: 58px;
	color: #FE9677;
	text-align: center;
	margin-top: 160px;
}

p[class='success'] {
	text-align: center;
	color: #008000;
}

p[class='incorrect'] {
	text-align: center;
	color: #FF0000;
}

.sign_up_links p {
	text-align: center;
}

.sign_up_links {
	display: block;
	width: 50%;
	margin: 60px auto;
}

.sign_up_links ul {
	list-style-type: none;
	margin-left: 20px;
}

a {
	color: #41436A;
}

form {
	width: 50%;
	margin: 100px auto 20px auto;
}

label {
	display: block;
	margin: 24px 0px 4px 46px;
}

input:not(input[type='submit']) {
	display: block;
	background: none;
	border: none;
	outline: none;
	width: 70%;
	margin: 0px auto;
	border-bottom: 1px solid #41436A;
}

input[type='submit'] {
	display: block;
	border: 1px solid #F64668;
	outline: none;
	border-radius: 24px;
	padding: 8px 32px;
	margin: 30px auto;
	font-size: 16px;
	background-color: #F64668;
	color: white;
	cursor: pointer;
}

input[type='submit']:hover {
	background-color: #FFFFFF;
	color: #F64668;
	border: 1px solid #F64668;
	transition-duration: 0.4s;
}