@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.navigation_bar {
	display: block;
	width: 90%;
	height: 80px;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 45%;
	float: right;
}

li {
	color: #41436A;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	margin: 4px;
	padding: 8px;
	cursor: pointer;
}

li:hover {
	transition-property: background-color;
	transition-duration: 0.4s;
	background-color: #F64668;
	color: #FFFFFF;
}

li[class='active'] {
	border-bottom: 3px solid #F64668;
}

a {
	text-decoration: none;
}

.heading h1 {
	font-family: Montserrat, sans-serif;
	font-size: 58px;
	color: #FE9677;
	margin: 60px;
}

.main {
	display: block;
	margin-left: 100px;
}

.main tr td {
	width: 160px;
	padding: 4px;
}

.main tr td:first-child {
	color: #41436A;
	font-weight: bold;
}

.show_hide {
	color: #F64668;
	cursor: pointer;
}

.edit {
	display: inline-block;
}

input, select {
	display: none; 
	background: none;
	border: none;
	outline: none;
	margin: 0px auto;
	border-bottom: 1px solid #41436A;
}

input[type='submit'] {
	border: 1px solid #FE9677;
	background-color: #FE9677;
	color: #FFFFFF;
	border-radius: 4px;
	cursor: pointer;
	padding: 8px 12px;
}

input[type='submit']:hover {
	border: 1px solid #FE9677;
	background-color: #FFFFFF;
	color: #FE9677;
	transition-duration: 0.4s;
}

select {
	float: left;
}

.section {
	display: block;
	margin: 40px 100px;
}

button {
	border: 1px solid #F64668;
	background-color: #F64668;
	padding: 8px 12px;
	color: #FFFFFF;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
}

.section button[class='button_edit'] {
	border: 1px solid #E6E6E6;
	background-color: #FFFFFF;
	color: #41436A;
}

.section button:last-child:hover {
	background-color: #FFFFFF;
	color: #F64668;
	border: 1px solid #F64668;
	transition-duration: 0.4s;
}

