@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.navigation_bar {
	display: block;
	width: 90%;
	height: 80px;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 45%;
	float: right;
}

li {
	color: #41436A;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	margin: 4px;
	padding: 8px;
	cursor: pointer;
}

li:hover {
	transition-property: background-color;
	transition-duration: 0.4s;
	background-color: #F64668;
	color: #FFFFFF;
}

li[class='active'] {
	border-bottom: 3px solid #F64668;
}

a {
	text-decoration: none;
}

.heading h1 {
	font-family: Montserrat, sans-serif;
	font-size: 58px;
	color: #FE9677;
	margin: 60px;
}

div[class='main'] {
	display: block;
	margin: 0px auto;
}

table {
	width: 70%;
	margin: 40px auto;
	border-collapse: collapse;
}

table[class='smaller_table'] {
	width: 50%;
}

.empty_row {
	height: 8px;
}

.posts_city {
	text-align: center;
	font-size: 1.25em;
	color: #41436A;
}

p[class='posts_city'] span {
	font-family: 'Fredoka One', sans-serif;
}

td a {
	font-size: 14px;
	color: #F64668;
	text-decoration: underline;
}

.filter_posts {
	text-align: center;
}

th {
	background-color: #41436A;
	font-family: Montserrat, sans-serif;
	color: #FFFFFF;
	padding: 12px;
	font-weight: bold;
	border-bottom: 2px solid #41436A;
	border-top: 2px solid #41436A;
}

td {
	text-align: center;
	padding: 12px;
	color: #;
	border-bottom: 2px solid #DEDEDE;
	border-top: 2px solid #DEDEDE;
}

.product_name {
	font-family: 'Fredoka One', sans-serif;
	color: #41436A;
}

.s_active {
	font-family: 'Fredoka One', sans-serif;
	color: #FE9677;
}

.s_reserved {
	font-family: 'Fredoka One', sans-serif;
	color: #008000;
}

th:first-child {
	border-left: 2px solid #41436A;
}

td:first-child {
	border-left: 2px solid #DEDEDE;
}

th:last-child {
	border-right: 2px solid #41436A;
} 

td:last-child {
	border-right: 2px solid #DEDEDE;
}

input[type='text'] {
	border: none;
	outline: none;
	border-bottom: 2px solid #DEDEDE;
	color: #FE9677;
	width: 64px;
	letter-spacing: 2px;
	text-align: center;
}

input[type='submit'] {
	padding: 4px 12px;
	border: 1px solid #FE9677;
	border-radius: 4px;
	color: #FFFFFF;
	background-color: #FE9677;
	cursor: pointer;
}

input[type='submit']:hover {
	border: 1px solid #FE9677;
	background-color: #FFFFFF;
	color: #FE9677;
	transition-duration: 0.4s;
}

p[class='success'] {
	text-align: center;
	color: #008000;
}

p[class='error'] {
	text-align: center;
	color: #FF0000;
}