@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
}

.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 100%;
}

.left {
	flex: 60%;
	height: 100%;
}

.left > h1 {
	font-family: Montserrat, sans-serif;
	font-size: 58px;
	color: #F64668;
	margin: 100px 0px 0px 140px;
}

.left > h1 sup {
	color: #FE9677;
}

.left p {
	text-align: center;
}

.left p[class='error'] {
	color: #FF0000;
	text-align: center;
}

.right {
	flex: 40%;
	height: 100%;
	background-color: #F64668;
}

.right h1 {
	font-family: Montserrat, sans-serif;
	font-size: 58px;
	color: #FFFFFF;
	text-align: center;
	margin-top: 100px;
}

.right p {
	color: #FFFFFF;
	text-align: center;
}

.right ul {
	margin-left: 100px;
	margin-top: 40px;
	color: #FFFFFF;
	line-height: 1.5;
}

a {
	color: #41436A;
}

form {
	width: 50%;
	margin: 50px auto 0px auto;
}

label {
	display: block;
	margin: 20px 0px 4px 68px;
}

input:not(input[type='submit'], input[type='checkbox']), select {
	display: block;
	background: none;
	border: none;
	outline: none;
	width: 70%;
	margin: 0px auto;
	border-bottom: 1px solid #41436A;
}

select {
	cursor: pointer;
}

input[type='submit'] {
	display: block;
	border: 1px solid #F64668;
	outline: none;
	border-radius: 24px;
	padding: 8px 32px;
	margin: 30px auto;
	font-size: 16px;
	background-color: #F64668;
	color: white;
	cursor: pointer;
}

input[type='submit']:hover {
	background-color: #FFFFFF;
	color: #F64668;
	border: 1px solid #F64668;
	transition-duration: 0.4s;
}

input[type='checkbox'] {
	margin-right: 12px;
	cursor: pointer;
}

